<!-- <button appSuperBtn="lightblue" >pigiami</button>
<button appSuperBtn="lightgreen">pigiami con rispetto</button>

<div appSuperBtn>
  ciao, sono Div
</div> -->

<header>
  <h1>Student manager</h1>
  <nav>
    <a routerLink="/home">Home</a>
    <a [routerLink]="['randomize']">randomize</a>
    <a *ngIf="authServ.isAuth" [routerLink]="['addStudent']">new student</a>
    <a *ngIf="!authServ.isAuth" [routerLink]="['login']">login</a>
    <a *ngIf="authServ.isAuth" (click)="logout()">logout</a>

  </nav>
</header>

<main>
  <router-outlet />
</main>

<footer>work in progress</footer>