<form [formGroup]="newStudentForm" (ngSubmit)="addStudent()">
    <label for="name">name</label>
    <input type="text" formControlName="name" id="name">

    <label for="surname">surname</label>
    <input type="text" formControlName="surname" id="surname">

    <label for="birthDate">birthDate</label>
    <input type="date" formControlName="birthDate" id="birthDate">

    <label for="gender">gender</label>
    <input type="text" formControlName="gender" id="gender">

    <label for="country">country</label>
    <input type="dropdown" formControlName="country" id="country">

    <label for="imageUrl">imageUrl</label>
    <input type="text" formControlName="imageUrl" id="imageUrl">

    <button type="submit">add</button>



</form>